body {
    padding: 0;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    background-color: rgb(125, 194, 255);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
}

header {
    display: flex;
    justify-content: space-between;
    background-image: url("./lcsrs.png");
    border-bottom: 1vh ridge rgb(255, 78, 25);
    object-fit: cover;
    object-position: 30% 0%;
    width: 100vw;
    height: 40vh;
}

header fieldset {
    border: 0.5vh ridge rgb(255, 78, 25);
    border-radius: 1vh;
}

header p {
    flex-basis: 50%;
    margin: 20px 0px 0px 40px;
    font-size: 3rem;
    letter-spacing: 1vw;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 3px black;
    @keyframes
}

header .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header iframe {
    width: 30vw;
    height: 10vh;
    border: 0.5vh ridge rgb(255, 78, 25);
    border-radius: 1vh;
}

#article1 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10vw;
}

.leftSide {
    width: 30vw;
    display: flex;
    justify-content: center;
}

.leftSide>img {
    margin: 2vh 2vh auto;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border: 0.5rem solid white;
    border-radius: 1rem;
}

#article1>section img {
    object-fit: cover;
    width: 30vw;
    border: 0.5rem solid white;
    border-radius: 1vw;
}

.para1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#article1 iframe {
    width: 30vw;
    height: 10vw;
    border: 0.5rem solid white;
    border-radius: 1vw;
}


.article2 {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
    border-top: 1vh solid white;
    border-bottom: 1vh ridge rgb(255, 78, 25);
}

.topLogo {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topLogo img {
    width: 25vw;
    image-rendering: optimizeQuality;
    border: 0.5vh ridge rgb(255, 78, 25);
    border-radius: 1vh;
}

.para2 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.para2 img {
    width: 10vw;
    border: 0.5vh ridge rgb(255, 78, 25);
    border-radius: 1vh;
}